<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; height: 100%; width: 100%; padding: 50px 0">
  <gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of dashboard; index as i">
      <div class="button-holder">
        <h3>Widget {{i}}</h3>
        <div class="gridster-item-content" *ngIf="item.hasContent">
          <div class="stuff">
              <ndc-dynamic [ndcDynamicComponent]="item.label" [ndcDynamicInputs]="inputs"></ndc-dynamic>            
          </div>
        </div>
        <button (mousedown)="removeItem($event, item)"
                (touchstart)="removeItem($event, item)">
          <span>Delete</span>
        </button>
      </div>
    </gridster-item>
  </gridster>
  <ndc-dynamic [ndcDynamicComponent]="component[0]" [ndcDynamicInputs]="inputs"></ndc-dynamic>            

  
</div>